//Подключение шрифтов
@import "fonts";
@import "libs";

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "NotoSans", sans-serif;
	font-weight: 400;
	background-color: var(--silver);
	overflow-anchor: none;
	min-width: 320px;
	font-size: 15px;
}
html.lock {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.__container {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}
img {
	width: 100%;
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
ul, li, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
::after, :before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input, button, textarea {
	font: inherit;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
select {
	outline: none;
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
::before,
::after {
	box-sizing: border-box;
}
:root {
	--black: #000;
	--white: #fff;
	--silver: #f8f8f8;
	--lred: #df4e3c;
	--lgray: #aeaeae;
	--dgray: #8d8d8d;
	--green: #507a36;
	--dred: #ff2307;
}

//Стили компонентов
@import "components";

//Адаптация под мобильные устойства
@import "adaptive";

